{% extends 'base/base.html' %}
{% block page_conent %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Acciones</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'inv:nuevamarca' %}">Nueva</a>
                
            </div>
        </div>
    </div>
    
    <div class="card-body">
        {% if not obj %}
        No hay Marcas registradas
        {% endif %}
        <table class="table table-striped table-hover" id="table">
            <thead>
                <th>Id</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Fecha creado</th>
                <th>Fecha modificado</th>
                <th class="all">Acción</th>
            </thead>
            <tbody>
                
                {% for item in obj %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
                        <td>{{item.fc|date:"d/m/Y H:i:s"}}</td>
                        <td>{{item.fm|date:"d/m/Y H:i:s"}}</td>
                        <td><a href ="{% url 'inv:editarmarca' item.id %}" class="btn btn-warning btn-circle" role="button">Editar</a>
                            <a href="{% url 'inv:marcainactivar' item.id %}" class="btn btn-danger btn-circle" role="button">Borrar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_page %}
<script>
    $(document).ready( function () {
    $('#table').DataTable();
} );
</script>

{% endblock %}